/* A4 CSS file */
body {
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
}

*   {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.page {
    width: 21cm;
    min-height: 250mm;
    margin: 1.5cm auto;
    /*
    border: 1px #D3D3D3 solid;
    */
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-top: 0;
    margin-bottom: 0;
}

.subpage    {
    /*
    padding: 1cm;
    border: 1px red solid;
    */
    border-radius: 5px;
    margin: 1.5cm auto;
    width: 21cm;
    height: 294mm; /*297mm*/
    margin-top: 0;
    margin-bottom: 0;
}

@page {   
    size: A4 portrait;
    /*
    @top-right {
        content: "Page " counter(pages);
    }
    /*
    margin: 3.7cm 2.6cm 3.5cm; /* 国家标准公文页边距 GB/T 9704-2012 */
    /* 页面内容区域底部添加一条 1px 的灰线 */
    /*
    @bottom-left, @bottom-center, @bottom-right {
        border-top: 1px solid gray;
    }

    /* 页脚中间显示格式如 "第 3 页" 的页码 */
    /*
    @bottom-center {
        content: "第" counter(page) "页";
    }
    */
}


@media print {
    .noprint {    
        display: none    
    }  

    .page {
        margin: initial;
        margin-top: 0;
        margin-bottom: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        /*
        min-height: 250mm;
        */
        box-shadow: initial;
        background: initial;
        page-break-inside: avoid;
        page-break-before: avoid;
        page-break-after: avoid; /*always;*/
    }
    
    div{
        margin:0;
        padding:0;
    }

    /*
    h1 { page-break-before: always; }

    h1, h2, h3, h4, h5 { page-break-after: avoid; }
    
    table, figure { page-break-inside: avoid; }

    @page:left{ @bottom-left { content: "Page " counter(page) " of " counter(pages); }
    */
}