#header {
    text-align:center;
    padding:0px;
    margin-top:0;
    margin-bottom: 0;
    font-family: 'Times New Roman';
}

#work-experience-cn {
    /*
    line-height:1.3em;
    background-color: lightblue;
    padding:3px;
    */
    height: 22px;
    width: 760px;
    margin-left: 25px;
    margin-top:0;
    margin-bottom: 0;
    font: Georgia, serif;
    font-size: 1.05em;
    float:left;
    font-family: 'Times New Roman';
}

#edu-experience-cn {
    /*line-height:1.3em;
    background-color: lightblue;
    padding:3px;
    */
    height: 22px; /*28 -3*2*/
    width: 150px; /* 175 -50 */
    margin-left: 25px;
    margin-top:0;
    margin-bottom: 0;
    font: Georgia, serif;
    font-size: 1.05em;
    float:left;
}

#pub-experience-cn {
    /*
    line-height:1.3em;
    background-color: lightblue;
    padding:3px;
    */
    height: 22px;
    width: 760px; /* 175 -50 */
    margin-left: 25px;
    margin-top:0;
    margin-bottom: 0;
    font: Georgia, serif;
    font-size: 1.05em;
    float:left;
}

#edu-experience-rifgt-cn {
    /*
    line-height:1.3em;
    background-color: lightblue;
    padding:3px;
    */
    height: 22px;
    width: 505px; /* 760 - 125 - 30 */
    margin-left: 50px;
    margin-top:0;
    margin-bottom: 0;
    font: Georgia, serif;
    font-size: 1.05em;
    float:left;
}

#edu-cn {
    /*line-height:1.3em;
    background-color: lightblue;
    background-color:#eeeeee;
    border: 1px red solid;
    */
    padding:3px;
    height: 143px;
    width: 760px;
    float:left;
    margin-left: 20px;
    margin-top:0;
    margin-bottom: 0;
    font: Georgia, serif;
    font-size: 1.05em;
}

#skills-cn {
    /*
    background-color:#eeeeee;
    border: 1px red solid;
    padding:3px;
    */
    height: 22px; /*105px*/
    width: 486px;
    float:left;
    margin-left: 25px;
    margin-top:0;
    margin-bottom: 0;
    font: Georgia, serif;
    font-size: 1.05em;
}

#person-cn {
    /*
    background-color:lightblue;
    border: 1px red solid;
    padding:3px;
    */
    height: 22px;
    width: 276px;
    float:left;
    margin-left: 0px;
    margin-top:0;
    margin-bottom: 0;
    font: Georgia, serif;
    font-size: 1.05em;
}

#skills-all-cn {
    /*
    background-color:#eeeeee;
    border: 1px red solid;
    padding:3px;
    */
    height: 110px; /*105px*/
    width: 760px;
    float:left;
    margin-left: 0px;
    margin-top:0;
    margin-bottom: 0;
    font: Georgia, serif;
    font-size: 1.05em;
}

#skills-left {
    /*
    background-color:#eeeeee;
    */
    /*
    border: 1px red solid;
    */
    padding:3px;
    height: 105px; /*105px*/
    width: 25px; /*760px*/
    float:left;
    margin-left: 0px;
    margin-top:0;
    margin-bottom: 0;
    font: Georgia, serif;
    font-size: 1.00em;
}

.skills-icon {
    /*
    background-color:#eeeeee;
    border: 1px red solid;
    */
    padding:3px;
    height: 105px; /*105px*/
    width: 40px; /*760px*/
    float:left;
    margin-left: 0px;
    margin-top:0;
    margin-bottom: 0;
    margin-right: 0;
    font: Georgia, serif;
    font-size: 1.00em;
}

.skills-icon-tools {
    /*
    background-color:#eeeeee;
    border: 1px red solid;
        */
    padding:3px;
    height: 105px; /*105px*/
    width: 55px; /*760px*/
    float:left;
    margin-left: 0px;
    margin-top:0;
    margin-bottom: 0;
    margin-right: 0;
    font: Georgia, serif;
    font-size: 1.00em;
}

.skills-ctx {
    /*
    border: 1px red solid;
    */
    padding:3px;
    height: 105px;
    width: 117px; /*760px*/
    float:left;
    margin-left: 0px;
    margin-top:0;
    margin-bottom: 0;
    font: Georgia, serif;
    font-size: 1.00em;
}

#skills-right {
    /*
    border: 1px red solid;
    */
    padding:3px;
    height: 105px; /*105px*/
    width: 280px;
    float:left;
    margin-left: 0px;
    margin-top:0;
    margin-bottom: 0;
    font: Georgia, serif;
    font-size: 1.00em;
}

#pub-cn {
    /*
    background-color:lightblue;
    */
    /*
    border: 1px red solid;
    */
    padding:3px;
    height: 105px;
    width: 760px; /*760px*/
    float:left;
    margin-left: 20px;
    margin-top:0;
    margin-bottom: 0;
    font: Georgia, serif;
    font-size: 1.05em;
}

#nav-cn {
    /*line-height:30px;*/
    /*
    background-color:#eeeeee;
    border: 1px red solid;
    */
    height:610px;
    width:150px;
    float:left;
    padding:0px;
    margin-left: 25px;
    margin-top:0;
    margin-bottom: 0; 
    /*
    font: Georgia, serif;
    */
    font-family: 'Times New Roman';
}

#edu-nav-cn {
    /*line-height:30px;*/
    /*
    background-color:#eeeeee;
    border: 1px red solid;
    */
    height:115px;
    width:150px;
    float:left;
    padding:0px;
    margin-left: 25px;
    margin-top:0;
    margin-bottom: 0; 
    font-family: 'Times New Roman';
}

#pub-nav-cn {
    /*line-height:30px;*/
    /*
    background-color:#eeeeee;
    border: 1px red solid;
    */
    height:70px;
    width:180px;
    float:left;
    padding:0px;
    margin-left: 25px;
    margin-top:0;
    margin-bottom: 0; 
    font: Georgia, serif;
}

#timeline-cn {
    /*
    background-color: red;
    border: 1px red solid;
    */
    /*
    background-color: white;
    */
    height:610px; /*485px 630px*/
    width:30px;
    float:left;
    padding:0px;
    /*
    margin-left: 50px; 
    */
    margin-top:0;
    margin-bottom: 0;
}

#edu-timeline-1-cn {
    /*
    border: 1px red solid;
    */
    height:22px; /* 105 + 28*/
    width:30px;
    float:left;
    padding:0px;
    /*
    margin-left: 50px; 
    */
    margin-top:0;
    margin-bottom: 0;
}

#edu-timeline-2-cn {
    /*
    border: 1px red solid;
    */
    height:115px; /* 105 + 28*/
    width:30px;
    float:left;
    padding:0px;
    /*
    margin-left: 50px; 
    */
    margin-top:0;
    margin-bottom: 0;
}

#content-cn {
    /*border: 1px black;
    border-radius: 5px;
    background-color: lightblue;
    border: 1px red solid;
    */
    height:610px; /* 600px */
    width:570px; /* 570px*/
    float:left;
    padding:0px;
    font-size: 1em;
    font-weight: normal;
    font-family: 'Times New Roman';
}

#edu-content-cn {
    /*
    border: 1px red solid;
    */
    height:115px; /* 600px */
    width:570px; /* */
    float:left;
    padding:0px;
    font-size: 1em;
    font-weight: normal;
    font-family: 'Times New Roman';
}

#pub-content-cn {
    /*
    border: 1px red solid;
    */
    height:70px; /* 600px */
    width:560px; /* */
    float:left;
    padding:0px;
    font-size: 1em;
    font-weight: normal;
    font-family: 'Times New Roman';
}

#dpi {
    height:100;
    width:100;
    font-size: 1.01em;
    color: blue;
    /*
    border:1px solid red;
    */
    line-height:10px;
    margin:0,0,0,0;
    margin-top:0;
    margin-bottom: 0;
    font-size: 1em;
    font-weight: normal;
    font-family: 'Times New Roman';
}

li {
    /*display:inline;
    */
    /*font-family: Monaco;
    */
    font-size: 0.85em;
    /*line-height:18px;*/
    margin: 0,0,0,0;
    margin-top:0;
    margin-bottom: 0;
    font: Georgia, serif;
} 